form {
    display: grid;
}
#code-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: column;
}
#input{
   white-space: pre;
   font-family: menlo,consolas,monospace;
   font-weight: 500;
   line-height: 1.4em;
   font-size:0.9rem;
}
#output-container{
overflow: scroll; 
max-height: 400px;
}
.json-container{
    background-color: transparent;
}
