:root {
    font-size: clamp(1rem, .9rem + .5vw, 2rem);
}

body {
    background-color: #1e1e1e;
    color: white;
    margin: 0;

}

main {
    margin: 5vh 5vw;
}

#output-container {
    grid-row: 2;
    margin-top: 5vh
}

.json-container {
    margin-top: 5vh;
    background-color: transparent;
    white-space: pre;
    display: block;
    min-height: calc(100vh - 400px);
}

#code-container {
    height: 400px;
}

.monaco {
    height: 100%;
    margin: 0;
}

#but-container {
    position: relative;
}

button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #673F98;
    border: 1px solid #d5d9d9;
    border-radius: 4px;
    font-family: Raleway, sans-serif;
    box-shadow: rgba(213, 217, 217, 0.1) 0 2px 2px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    line-height: 29px;
    padding: 5px 20px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

button:hover {
    color: black
}

button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

#code-container {
    border-left: 1px solid #426b97;
    border-bottom: 1px solid #426b97;
    border-right: 1px solid #4f4e4e;
    border-top: 1px solid #4f4e4e;
}

.json-container {
    border-top: 1px solid #426b97;
    border-right: 1px solid #426b97;
    border-left: 1px solid #4f4e4e;
    border-bottom: 1px solid #4f4e4e;
}

nav {
    display: flex;
    background-color: #284666;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
}

h1 {
    font-family: IBM Plex Mono, monospace;
    font-weight: 500;
    margin: 0;
}